{% extends "base.html" %}

{% block title %}Archives — {{ SITENAME }}{% endblock %}
{% block description %}Find all posts on one page.{% endblock %}

{% block content %}
    <h1>Archives</h1>

    <table class="table">
        <tbody>
            {% for article in dates %}
                <tr>
                    <td>{{ article.date.strftime("%d %b %Y") }}</td>
                    <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
