{% extends "index.html" %}

{% block title %}{{ author }} — {{ SITENAME }}{% endblock %}
{% block description %}All posts written by {{ author }}.{% endblock %}

{% block content %}
    <h1>Author <b>{{author}}</b></h1>
    <table class="table">
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.date.strftime("%d %b %Y") }}</td>
                    <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
