{% if LIBERAPAY_USERNAME %}
<p>Support us on Liberapay:  <script src="https://liberapay.com/{{LIBERAPAY_USERNAME}}/widgets/button.js"></script>
<noscript><a href="https://liberapay.com/{{LIBERAPAY_USERNAME}}/donate"><img src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript></p>
{% endif %}
