<nav>
    <ul class="pagination text-center">
        {% if articles_page.has_previous() %}
            {% set num = articles_page.previous_page_number() %}
            <li class="page-item prev">
                <a class="page-link" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">&larr; Previous</a>
            </li>
        {% else %}
            <li class="page-item prev disabled">
                <a class="page-link" href="#">&larr; Previous</a>
            </li>
        {% endif %}

        {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
            <li class="page-item {{ 'active' if num == articles_page.number else '' }}">
                <a class="page-link" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a>
            </li>
        {% endfor %}

        {% if articles_page.has_next() %}
            <li class="page-item next">
                <a class="page-link" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Next &rarr;</a>
            </li>
        {% else %}
            <li class="page-item next disabled">
                <a class="page-link" href="#">&rarr; Next</a>
            </li>
        {% endif %}
    </ul>
</nav>
