{% extends "base.html" %}

{% block title %}{{ tag }} — {{ SITENAME }}{% endblock %}
{% block description %}All posts which refer to tag {{ tag }}.{% endblock %}

{% block content %}
    <h1>Tag <b>{{tag}}</b></h1>
    <table class="table">
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.date.strftime("%d %b %Y") }}</td>
                    <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
