{% extends "base.html" %}

{% block title %}Tags — {{ SITENAME }}{% endblock %}
{% block description %}The Tags page lists all tags used to classify the posts.{% endblock %}

{% block content %}
	<h1>Tags</h1>
	<ul>
		{% for tag, posts in tags %}
			<li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} ({{ posts | count }})</li>
		{% endfor %}
	</ul>
{% endblock %}
